<footer class="bg-body-tertiary py-2">
    <div class="container-fluid d-flex flex-column align-items-center">
       <!-- footer-logo -->
      <div class="d-flex justify-content-center">
        <a class="navbar-brand d-flex " aria-current="page" href="#">
          <i class="bi bi-apple  me-1"></i>
          <span class="d-none d-md-block">ThinkupTogether</span>
          <span class="d-block d-md-none">TUT</span>
        </a>
      </div>    
      <!-- footer-bot -->
      <ul class="list-unstyled d-flex h-100 mb-0">
        <li class="pe-3">
          <a class="nav-link" href="#">服務條款</a>
        </li>
        <li class="pe-3">
          <a class="nav-link active" href="#">隱私權政策</a>
        </li>
        <li class="">
          <a class="nav-link" href="#">使用說明</a>
        </li>
      </ul>
    </div>
  </footer>